body {
  font-family: "Arvo", bold;
}

.buttonLink {
  background: none !important;
  border: solid;
  padding: 0 !important;
  font-size: 7px;
  width: smaller;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 28px;
  color: #cea7db;
  text-shadow: 1px 1px 1px black;
  padding: 10px;
  margin: 15px;
  display: block;
  text-align: center;
}

h3 {
  font-size: 10px;
  color: black;
  margin: 0;
  position: center;
  line-height: 10px;
}

.third {
  font-size: 12px;
  color: black;
  margin-top: 0px;
  position: center;
}

#forecast {
  position: relative;
  bottom: 30px;
}

h4 {
  width: 40%;
  font-size: 21px;
  color: black;
  text-shadow: 1px 1px 1px #cea7db;
  padding: 15px;
  margin-bottom: 0px;
  text-align: center;
  position: relative;
  left: 168px;
}

#weather {
  left: 537px;
  margin: 30px 0px 0px 0px;
}

#weatherStats span ul {
  margin-left: auto;
}

.wrapper-container {
  height: 450px;
  width: 600px;
  margin: 30px auto;
  margin-bottom: 5px;
  padding: 15px auto;
  padding-bottom: 5px;
  position: center;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.5816701680672269) 0%,
    rgba(148, 187, 233, 0.5956757703081232) 100%
  );
  background-size: auto;
}

#smal {
  margin-top: 0px;
  position: absolute;
  top: 425px;
  left: 150px;
}
.inlining {
  display: inline;
}

.row {
  margin-top: 20px;
  position: center;
}

.row1 {
  margin-top: 30px;
}

.temps {
  font-size: 30px;
}

.maxmin {
  font-size: 25px;
  position: center;
}

.i {
  color: black;
  size: 15px;
}

.center {
  display: block;
  margin: -20px;
  position: relative;
  width: 100%;
}

.art {
  position: relative;
  right: 10px;
}

.first {
  width: 50%;
  font-size: 22px;
  color: black;
  text-shadow: 1px 1px 1px #cea7db;
  padding: 0px;
  margin-left: 75px;
  margin-bottom: 0px;
}

.col-6 .active {
  color: black;
  cursor: default;
}

.col-6 .active:hover {
  text-decoration: none;
}

.second {
  margin-left: 15px;
  display: inline;
}

.imgResponsive {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 250px) {
  .searchbox {
    width: 20px;
    height: 3px;
  }
}

.searchbox {
  width: 150px;
  height: 50px;
}

#rowing {
  position: relative;
  left: 30px;
}

.col-md-4 {
  font-size: 15px;
}

button {
  width: 80px;
  height: 40px;
  border-radius: 1px;
  border-color: #b3ccff;
}

#temperature {
  font-weight: 400;
  color: rgb(33, 33, 33);
  font-size: 44px;
  line-height: 1;
}

.units {
  position: relative;
  font-size: 13px;
  top: -21px;
}

.clearfix {
  display: block;
  clear: both;
  content: "";
}

.wrapper2 {
  margin: auto;
  padding: 0px;
  position: absolute;
  left: 335px;
}

#currentLocation {
  padding-bottom: 45px;
  height: 10px;
  width: 120px;
}

.credit {
  position: relative;
  resize: horizontal;
  top: 65px;
}

#eyes {
  padding-bottom: 5px;
  height: 50px;
  vertical-align: middle;
  position: absolute;
  left: 192px;
  line-height: -300px;
  border-style: solid;
}

#searchCity {
  width: 250px;
  position: absolute;
  right: 100px;
  height: 50px;
}

#actualWeather {
  width: 350px;
  font-size: 14px;
  margin: 0px;
  text-transform: capitalize;
}

ul {
  position: center;
  list-style: none;
}

.weatherElements {
  position: relative;
  left: -88px;
}
@media only screen and (max-width: 768px) {
  [class*="container"] {
    padding: 10px;
  }
  [class*="first"] {
    font-size: 24px;
  }

  h4 {
    width: 50%;
    font-size: 15px;
    color: black;
    text-shadow: 1px 1px 1px #cea7db;
    padding: 15px;
    margin: 4px;
    text-align: center;
    position: relative;
    left: 127px;
  }

  #searchCity {
    width: 200px;
  }

  #actualWeather {
    width: 250px;
    padding-left: 8px;
    right: -2%;
    margin: 0px;
    text-transform: capitalize;
  }

  #currentLocation {
    padding-bottom: 45px;
    width: 70px;
  }

  .weatherElements {
    position: relative;
    left: -75px;
  }

  [class*="weatherElements"] {
    right: 94px;
  }

  #eyes {
    padding-bottom: 5px;
    height: 50px;
    border-color: black;
    position: absolute;
    left: 169px;
    vertical-align: middle;
    line-height: -300px;
    border-style: solid;
  }
}
