body {
  font-family: arial, sans-serif;
}

.buttonLink {
  background: none !important;
  border: solid;
  padding: 0 !important;
  font-size: 10px;
  width: smaller;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.container {
  margin: 30px auto;
  padding: 15px;
  border-color: lightgrey;
  border: 1px solid;
  border-radius: 5px;
  max-width: 750px;
  position: center;
}

.inlining {
  display: inline;
}

.row {
  margin-top: 60px;
}

.city {
  font-size: 35px;
  color: black;
  left: 10px;
}

.temps {
  font-size: 30px;
  position: center;
}

.maxmin {
  font-size: 25px;
  position: center;
}

h2 h3 {
  font-size: 15px;
  color: lightsalmon;
}

.i {
  color: #ffd700;
  size: 15px;
}

.message {
  position: relative;
  width: 25px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.art {
  position: relative;
  right: 10px;
}

.first {
  margin-left: 15px;
  display: block;
  margin-left: 65px;
  width: 50%;
}

.second {
  margin-right: 20px;
  display: inline;
}
.third {
  font-size: 15px;
  color: #ffd700;
  margin: 10px;
  position: center;
}

.imgResponsive {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 280px) {
  .searchbox {
    width: 20px;
    height: 3px;
  }
}

.searchbox {
  width: 250px;
  height: 53px;
}

#rowing {
  position: relative;
  left: 30px;
}

.col-md-4 {
  font-size: 15px;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 1px;
  border-color: #b3ccff;
}
