body {
  font-family: "Arvo", bold;
}

.credit {
  position: absolute;
  top: 480px;
}

.buttonLink {
  background: none !important;
  border: solid;
  padding: 0 !important;
  font-size: 7px;
  width: smaller;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  font-size: 1.5rem;
}

#weather {
  position: relative;
  left: 137px;
}

.wrapper {
  margin: auto;
  padding: 2%;
  margin-top: 20px;
  height: 450px;
  width: 750px;
}

.container {
  margin: 30px auto;
  padding: 15px;
  position: center;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.5816701680672269) 0%,
    rgba(148, 187, 233, 0.5956757703081232) 100%
  );
  /* background-size: 1mm 20mm; */
  background-size: auto;
}

#smal {
  /* margin: 300px; */
  margin-top: 0px;
  position: absolute;
  top: 425px;
  left: 150px;
}
.inlining {
  display: inline;
}

.row {
  margin-top: 20px;
  position: relative;
}

.row1 {
  margin-top: 30px;
}

.temps {
  font-size: 30px;
}

.maxmin {
  font-size: 25px;
  position: center;
}

.i {
  color: black;
  size: 15px;
}

.center {
  display: block;
  margin: -20px;
  position: relative;
  width: 100%;
}

h2 {
  font-size: 40px;
  color: #cea7db;
  text-shadow: 1px 1px 1px black;
  padding: 8px;
  display: block;
  text-align: center;
}

.art {
  position: relative;
  right: 10px;
}

.first {
  width: 50%;
  font-size: 15px;
  color: black;
  text-shadow: 1px 1px 1px #cea7db;
  padding: 0px;
  margin-left: 50px;
  margin-bottom: 0px;
}

li {
  list-style: none;
  text-align: left;
  margin: 0;
}

.col-6 {
  width: 250px;
  padding: 0px;
  margin: 0px;
  text-transform: capitalize;
}

.second {
  margin-left: 15px;
  display: inline;
}
.third {
  font-size: 20px;
  color: black;
  margin: 10px;
  position: center;
}

h3 {
  font-size: 10px;
  color: black;
  margin: 0;
  position: center;
}

.imgResponsive {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 280px) {
  .searchbox {
    width: 20px;
    height: 3px;
  }
}

.searchbox {
  width: 250px;
  height: 53px;
}

#rowing {
  position: relative;
  left: 30px;
}

.col-md-4 {
  font-size: 15px;
}

button {
  width: 80px;
  height: 40px;
  border-radius: 1px;
  border-color: #b3ccff;
}

#temperature {
  font-weight: 400;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
}

.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.clearfix {
  display: block;
  clear: both;
  content: "";
}

.wrapper2 {
  margin: auto;
  padding: 0px;
  position: absolute;
  left: 335px;
}

.weatherElements {
  text-align: center;
  padding: 0px;
  position: relative;
  right: 90px;
  width: 250px;
}

#currentLocation {
  padding-bottom: 45px;
  height: 10px;
  width: 120px;
}

#eyes {
  padding-bottom: 45px;
  vertical-align: middle;
  line-height: -300px;
}

@media only screen and (max-width: 768px) {
  [class*="container"] {
    padding: 10px;
  }
  [class*="first"] {
    font-size: 24px;
  }

  #currentLocation {
    padding-bottom: 45px;
    width: 70px;
  }

  h2 {
    font-size: 39px;
  }

  [class*="weatherElements"] {
    right: 64px;
  }
}
